use flake
export BAST3ST_SERVER=$(kwallet-query kdewallet --folder Bast3St -r server)
export BAST3ST_USERNAME=$(kwallet-query kdewallet --folder Bast3St -r username)
export BAST3ST_PASSWORD=$(kwallet-query kdewallet --folder Bast3St -r password)
